# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
src/components/Main/SpaceCanvas.tsx
src/components/Others/Image.tsx
src/components/uhh/
src/app/test/
src/app/historicalfigures/

#legacy
src/components/legacy/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#vscode
/.vscode