.gradientBorder::before {
    content: "";
    position: absolute;
    border-radius: 16px;
    inset: 0;
    padding: 3px;
    background: linear-gradient(
            180deg,
            var(--color-start-end) 0%,
            var(--color-mid) 32%,
            var(--color-mid) 68%,
            var(--color-start-end) 100%
        )
        border-box;
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}
