.cardGradient::after {
    content: "";
    position: absolute;
    width: calc(100% - 1rem);
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background: #ffffff;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 2%,
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 0) 90%,
        rgba(255, 255, 255, 1) 98%
    );
    pointer-events: none;
}
