.container {
    :where(& > :not(:first-child)) > section {
        @media (width >= 35rem) {
            & > * {
                margin-inline: 3rem;
            }
        }
    }

    :where(& > :not(:first-child):not(:last-child)) {
        margin-bottom: 3rem;
        @media (width >= 62.5rem) {
            margin-bottom: 6rem;
        }
    }

    > section:first-child > section {
        display: flex;
        flex-direction: column;
        min-height: 100lvh;
        justify-content: center;

        > div {
            padding-top: 3rem;
            padding-bottom: 2rem;
            margin-top: 8rem;

            @media (width >= 81.25rem) {
                padding-top: 4rem;
                padding-bottom: 3rem;
            }

            @media (width >= 35rem) {
                & > * {
                    margin-inline: 3rem;
                }
            }
        }
    }
}
