@keyframes fly {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(-100vh);
    }
}

.star11 {
    animation: fly var(--animationStarTime1) linear infinite;
}

.star12 {
    animation: fly var(--animationStarTime1) linear infinite;
    animation-delay: calc(var(--animationStarTime1) / -2);
}

.star21 {
    animation: fly var(--animationStarTime2) linear infinite;
}

.star22 {
    animation: fly var(--animationStarTime2) linear infinite;
    animation-delay: calc(var(--animationStarTime2) / -2);
}

.star31 {
    animation: fly var(--animationStarTime3) linear infinite;
}

.star32 {
    animation: fly var(--animationStarTime3) linear infinite;
    animation-delay: calc(var(--animationStarTime3) / -2);
}
