.loginInput:-webkit-autofill,
.loginInput:-webkit-autofill:hover,
.loginInput:-webkit-autofill:focus,
.loginInput:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 40px #202434 inset;
    -webkit-text-fill-color: white;
}

.loginInput {
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

.loginInput::after {
    content: "";
    border: 2px transparent;
    box-shadow: none 0 0 0 2px transparent;
    position: absolute;
}

.loginInput:focus::after {
    content: "";
    border: 2px #581ce3;
    box-shadow: none 0 0 0 2px #f9dcef;
}

/* <div className="top-0 left-0 border-2 ring-2 ring-transparent border-transparent transition-all duration-300 ease-in peer-focus:border-[#581ce3] peer-focus:ring-[#f9dcef] sm:w-[20rem] w-[18rem] sm:h-[3rem] h-[2.75rem] rounded-2xl" /> */
