.container {
    :where(& > :not(:first-child)) > section {
        & > * {
            margin-inline: 1rem;
        }

        @media (width >= 35rem) {
            & > * {
                margin-inline: 3rem;
            }
        }

        @media (width >= 81.25rem) {
            & > * {
                margin-inline: 8rem !important;
            }
        }

        @media (width >= 62.5rem) {
            & > * {
                margin-inline: 6rem;
            }
        }
    }

    :where(& > :not(:first-child):not(:last-child)) {
        margin-bottom: 3rem;
        @media (width >= 62.5rem) {
            margin-bottom: 6rem;
        }
    }

    > section:first-child > section {
        display: flex;
        flex-direction: column;
        min-height: 100lvh;
        justify-content: center;

        > div {
            margin-top: 12rem;

            padding-top: 3rem;
            padding-bottom: 2rem;

            @media (width >= 81.25rem) {
                padding-top: 4rem;
                padding-bottom: 3rem;
            }

            & > * {
                margin-inline: 1rem;
            }

            @media (width >= 35rem) {
                & > * {
                    margin-inline: 3rem;
                }
            }

            @media (width >= 81.25rem) {
                & > * {
                    margin-inline: 8rem !important;
                }
            }

            @media (width >= 62.5rem) {
                & > * {
                    margin-inline: 6rem;
                }
            }
        }
    }
}
